<body ng-controller="HomeController">
  <h2>New Employee Form</h2>
  {{home.testMessage}}
<form class="col-md-12">
  <div class="form-group col-md-6">
<label for="firstName">First Name</label>
<input ng-model="home.newEmployee.firstName">
  </div>
  <div class="form-group col-md-6">
<label for="lastName">Last Name</label>
<input ng-model="home.newEmployee.lastName">
  </div>
  <div class="form-group col-md-6">
<label for="idNumber">ID Number</label>
<input ng-model="home.newEmployee.idNumber">
  </div>
  <div class="form-group col-md-6">
<label for="jobTitle">Job Title</label>
<input ng-model="home.newEmployee.jobTitle">
  </div>
  <div class="form-group col-md-6">
<label for="annualSalary">Annual Salary</label>
<input ng-model="home.newEmployee.annualSalary">
  </div>
  <div class="form-group col-md-6">
<button class="btn-primary" ng-click="home.addNewEmployee()">Add New Employee</button>
  </div>
</form>
<div ng-repeat="employee in home.employeeList.list" ng-class="{active: employee.status, inactive: !employee.status}" class="row col-xs-12">
<!-- {{task.name}} and the id number is {{task.id}} -->
<span class="col-xs-6">{{employee}} status is {{employee.status}}</span>
<span class="col-xs-3" ng-hide="employee.status"><button ng-click="home.deactivateEmployee(employee.id)" class="btn btn-primary">Deactivate</button></span>
<span class="col-xs-3" ng-show="employee.status"><button ng-click="home.activateEmployee(employee.id)" class="btn btn-info">Activate</button></span>
<span class="col-xs-3"><button ng-click="home.deleteEmployee(task.id)" class="btn btn-danger">Delete</button></span>
</div>
</body>
