.jumbotron {
  background-color: #99e6ff;
}

.btn-primary {
  background-color: #ff5050;
}

#offset {
  background-color: #e0e0d1;
}

#pretty_header {
  background-color: #b3e6b3;
}

label {
  display: inline-block;
}

input {
  display: block;
}

button {
  margin-top: 20px;
  display: block;
}
