.jumbotron {
  background-color: pink;
}

#offset {
  background-color: gray;
}

#pretty_header {
  background-color: aqua;
}

label {
  display: inline-block;
}

input {
  display: block;
}

button {
  margin-top: 20px;
  display: block;
}
